In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
path = '/content/sales_predictions - sales_predictions.csv'
df = pd.read_csv(path)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
df.duplicated().sum()

0

In [4]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [5]:
df.drop(columns=['Item_Weight', 'Outlet_Size', 'Item_Identifier','Outlet_Identifier','Outlet_Type','Outlet_Size', 'Item_Type', 'Outlet_Location_Type', 'Outlet_Type'],inplace=True)

In [6]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [7]:
df['Item_Fat_Content'].replace({'Low Fat':0, 'LF':0, 'low fat':0, 'Regular':1, 'reg': 1}, inplace=True)
df['Item_Fat_Content'].value_counts()

0    5517
1    3006
Name: Item_Fat_Content, dtype: int64

In [8]:
y = df['Item_Outlet_Sales']
X = df.drop(columns = 'Item_Outlet_Sales')

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [10]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [13]:
train_scaled = scaler.transform(X_train)
test_scaled = scaler.transform(X_test)
train_scaled[:5]

array([[-0.7403206 , -0.71277507,  1.82810922,  1.32784893],
       [ 1.35076614, -1.29105225,  0.60336888,  1.32784893],
       [ 1.35076614,  1.81331864,  0.24454056,  0.13618724],
       [-0.7403206 , -1.00493112, -0.95259072,  0.73201809],
       [-0.7403206 , -0.96548425, -0.33646004,  0.49368575]])

In [14]:
X_train_scaled = pd.DataFrame(train_scaled, columns=X_train.columns)
X_train_scaled.head()

   Item_Fat_Content  Item_Visibility  Item_MRP  Outlet_Establishment_Year
0         -0.740321        -0.712775  1.828109                   1.327849
1          1.350766        -1.291052  0.603369                   1.327849
2          1.350766         1.813319  0.244541                   0.136187
3         -0.740321        -1.004931 -0.952591                   0.732018
4         -0.740321        -0.965484 -0.336460                   0.493686

In [15]:
X_train_scaled.describe().round(2)

       Item_Fat_Content  Item_Visibility  Item_MRP  Outlet_Establishment_Year
count           6392.00          6392.00   6392.00                    6392.00
mean              -0.00            -0.00      0.00                      -0.00
std                1.00             1.00      1.00                       1.00
min               -0.74            -1.29     -1.77                      -1.53
25%               -0.74            -0.76     -0.76                      -1.29
50%               -0.74            -0.23      0.03                       0.14
75%                1.35             0.56      0.72                       0.73
max                1.35             5.13      1.99                       1.33